p {
  font-family: Roboto;
  font-size: 12px;
  color: rgb(96,96,96);
  margin: 0%;
  display: block;
}

.video-preview {
  display: inline-block;
  width: 300px;
  border-style: solid;
  border-color: black;
  vertical-align: top;
  margin-right: 5px;
}


.profile-pic-col {
  vertical-align: top;
  display: inline-block;
  width: 45px;
}

.video-info-col {
  vertical-align: top;
  display: inline-block;
  width: 250px;
}



.searchbox {
  font-size: small;
  border-radius: 4px;
  width: 100px;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  display: block;
}

.thumbnail {
  width: 100%;
  border: none;
}

.video-title {
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
}

.video-author {
  margin-bottom: 5px;
}

.video-stats {
  margin-bottom: 12px;
}

.profile-pic {
  display: block;
  border-radius: 100%;
  width: 40px;
}

