.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}
/* 
.video-preview {
  border-style: solid;
  border-color: black;
} */

.thumbnail {
  width: 100%;
  border: none;
}

.video-detail-row {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-pic-col {
  width: 45px;
}

.video-info-col {
  width: 250px;
}

.video-title {
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin-bottom: 10px;
}

.video-author {
  margin-bottom: 5px;
}

.video-stats {
  margin-bottom: 12px;
}

.profile-pic {
  display: block;
  border-radius: 100%;
  width: 40px;
}

